DOMAIN_NAME=login.42.fr

# MYSQL SETUP
SQL_DATABASE=database_name
SQL_USER=user_name
SQL_PASSWORD=user_password
SQL_ROOT_PASSWORD=root_password

# WORDPRESS SETUP
SITE_TITLE="Title"
DB_NAME="votre_base_de_donnees"
DB_USER="votre_utilisateur"
DB_PASSWORD="votre_mot_de_passe"
DB_HOST="localhost"
WP_URL="http://votre-domaine.com"
WP_TITLE="Votre Titre de Site"
WP_ADMIN="votre_admin"
WP_ADMIN_PASSWORD="votre_mot_de_passe_admin"
WP_ADMIN_EMAIL="votre_email@example.com"
WP_USER="votre_utilisateur"
WP_USER_EMAIL="votre_email_utilisateur@example.com"
WP_USER_PASSWORD="votre_mot_de_passe_utilisateur"


# REDIS SETUP
REDIS_HOST="votre_redis_host"
REDIS_PASSWORD=redis_password
REDIS_CLIENT="votre_redis_client"

# FTP SETUP
FTP_USER=ftp_user
FTP_PASSWORD=ftp_password
